<%- include('partials/header') %>

<style>
    .header{
        background: url('../img/ah_3.png') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Academic Honesty</h1>
                <h4>Rather be honest than impressive</h4>
                <hr class="bottom-line">
            </div>
            <div class="col-md-12">
              <p class="sub-title pad-bt15">Academic Honesty has become a prominent issue in educational and academic environments in recent times and is no longer restricted to copying homework from a friend or cheating in an examination. Academic Institutions understand that students cannot come up with their original work and therefore, allow the inclusion of other people’s work with the exception that the original author is appropriately acknowledged. </p>
              <p class="sub-title pad-bt15">Academic Dishonesty is a misdemeanour that students commit knowingly or unknowingly and the Academic Honesty module guides us so that we will never commit any form of Academic Dishonesty in the IB Program or throughout our academic journey. 
              </p>
              <p class="sub-title pad-bt15">
                Here’s an interview with our Academic Honesty Teacher, Mrs Sreevidya Devanand answering some of the frequently asked questions about Academic Honesty.
                  </p>

              <p class="sub-title pad-bt15"></p>
            </div>


            </div>
            <div class="col-md-4" style="margin-bottom: 20px">
              <img src="img/ah_yashwasvi.png" style="width: 100%" alt="">
              <p>Work done by Yashasvi Deswal</p>
            </div>
            <div class="col-md-8">
                <p class="sub-title pad-bt15"><strong>Q: How would you introduce Academic Honesty to someone who has no clue what it is?</strong></p>
                
                <p class="sub-title pad-bt15"> I would like to change the word Academic Honesty to Academic Integrity, which is one of the fundamentals of learning. Academic dishonesty begins in elementary school and peaks in high school in some form. So, I will introduce Academic Honesty with simple instances of cheating in classrooms.</p>

                <p class="sub-title pad-bt15"><strong>Q: Are academic dishonesty and plagiarism the same thing?</strong></p>
                
                <p class="sub-title pad-bt15">Plagiarism is one of the most common forms of Academic Dishonesty.</p>
            </div>
            <div class="col-md-12">
              <p class="sub-title pad-bt15"><strong>Q: What are some practices that are considered Academically Dishonest that a lot of people might not know?</strong></p>
                
              <p class="sub-title pad-bt15">Working in collaboration when individual work is expected, knowingly helping others cheat or plagiarize, using a source that is prohibited, using photographs without permission can all count as Academic Dishonesty.</p>
            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>

    </div>
</section>

<section id="testimonial" class="wow fadeInUp delay-05s">
    <div class="bg-testicolor">
      <div class="container section-padding">
        <div class="row">
          <div class="testimonial-item">
            <ul class="bxslider">
              <li>
                <blockquote>
                    <p>I found the Academic Honesty module to be a very informative session, we learnt about measures to be taken to avoid plagiarism as well as methods to refine search results. I think that this will undoubtedly help us in our IB journey, especially as we write our Extended Essays and IA's in the course.</p>
                </blockquote>
                <small>Teresa Mary Elinjikkal, IB Bridge B</small>
              </li>
              <li>
                <blockquote>
                    <p>I think Academic Honesty gives me the freedom to build new ideas, gain new knowledge and innovate creative works while respecting and acknowledging the work of others.It helps me do my assignments honestly and has made me more punctual with my tasks.</p>
                </blockquote>
                <small>Rida Khan, IB Bridge C</small>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                            
                <p class="sub-title pad-bt15"><strong>Q: How can Academic Dishonesty ruin a student’s future?</strong></p>
                
                <p class="sub-title pad-bt15">Students who get away with academic dishonesty might feel guilty in the long run and this might affect their self-esteem. Academic dishonesty might result in failure of grades. Sometimes students will have to face legal consequences and may result in loss of opportunities in future.</p>

                <p class="sub-title pad-bt15"><strong>Q: What are the best ways to prevent yourself from being Academically Dishonest?</strong></p>
                <p class="sub-title pad-bt15">Take responsibility, learn to manage your time, meet deadlines, reach out to your instructor, and seek help if needed, develop personal ethics and integrity. By all means cheating is not an option.</p>                
            </div>
            <div class="col-md-6">
              <iframe width="550" height="600" src="https://docs.google.com/document/d/e/2PACX-1vQTTCsgdLYszX5QFTCT4wi9dz8z8GTfZWhEP4-44Mc-hQKby33lCLHCwApj4ADvJQRK7sn_alDwr2dc/pub?embedded=true"></iframe>
              <p>Work done by Rahul Devasia</p>
            </div>
            <div class="col-md-6">
              <iframe width="550" height="600" src="https://docs.google.com/document/d/e/2PACX-1vRGXDwrKiuSVH02VGa2Y1puP_2-IJTHFwospDJZkz420extGAFlwZHJF_bYBCjtS3m5t0Rl34ObnSLa/pub?embedded=true"></iframe>              
              <p>Work done by Tanay Samuel Cherian</p>
            </div>
            
            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
        <h4>Written by Riya Reddy</h4>

    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>