<%- include('partials/header') %>

<style>
    .header{
        background: url('../img/am_main.png') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0.250);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Assessment Module</h1>
                <h4>IB Exams - Hard or Hyped?</h4> <!-- Name needs to given -->
                <hr class="bottom-line">
            </div>

            <div class="col-md-12">
                            
                <p class="sub-title pad-bt15">Though mentioned earlier, it is still important to highlight the difficulty of adapting to a new curriculum, however, this module has truly been a great stress reliever. The various questions we begin to ask ourselves along with the self-doubt that creeps in, is dealt with in this very module. The live Q & A sessions that we have with our teachers help us gain understanding of the assessment pattern of each subject in a deeper manner giving us clarity in our choices. </p>

                <p class="sub-title pad-bt15">We mainly focused on the Group 1 and Group 3 subjects in the last two weeks. In the first week, we were shown the pattern of the popular subject, business management by Mrs Eriyat Devi. Global politics was another subject that was also discussed, for some classes individually and others during the Talk to the Experts session, which had to be modified due to an issue. A brief introduction to psychology was also carried out during the TTE session where we explored the various fields and career prospects for this subject. </p>
                
            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
    </div>
</section>

<section id="testimonial" class="wow fadeInUp delay-05s">
    <div class="bg-testicolor" style="max-height: 2vh">
      <div class="container section-padding">
        <div class="row">
          <div class="testimonial-item">
            <ul class="">
              <li>
               <!--  <blockquote>
                    <p>The assessment module, designed to help us understand the semantics of the marking scheme in IB, gives us a reality check on the curriculum</p>
                </blockquote>
                <small>Yohann D'souza, IB Bridge B</small> 
              
              No testimonial 
              -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <p class="sub-title pad-bt-15">We have seen the marking scheme of various subjects this month such as economics and information and technology in a global society. We were also shown the difference between computer science and ITGS to prevent any misconceptions regarding those two subjects since they both have similar components which include coding. Ms Julia Robertson and Ms Rumana took us through the assessment module for Literature and Language and Literature, respectively. 
                </p>
                <p class="sub-title pad-bt15">A great way to get a deeper understanding of our subjects is to visit the Unifrog website which has several videos and resources that give us a firsthand experience on our possible future in the specific career path. Do check it out as one will never know what to expect. This website can also help us a great deal in shortlisting the universities across the world we would be applying  to in the near future.So do not miss out this wonderful guide!
                </p>
                
            </div>
            <div class="col-md-4">
              <img src="img/am2.png" style="max-width: 100%" alt="">
            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
        <h4>Written by Ishan Revankar</h4>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>