<%- include('partials/header') %>

<style>
    .header{
        background: url('../img/bw_main.png') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0.250);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Big Write</h1>
                <h4>Think big, write big!</h4>
                <hr class="bottom-line">
            </div>

            <div class="col-md-12">
                            
                <p class="sub-title pad-bt15">Think big, write big !
                  “How am I going to manage writing a 4,000-word extended essay?” “ So many topic options… how will I know the right one for me?”, etc. are some of the questions that crossed our minds when we learnt about the ‘intimidating EE’.
                  </p>

                <p class="sub-title pad-bt15">Luckily with the Big Write bridge module headed by Mrs. Julia Robertson, Mrs. Srividhya Sathyamurthy and Mrs.Sumana Chatterjee,not only released us of the fear of EE but also equipped us with the skills needed to successfully sail through our extended essay.  </p>
                
            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
    </div>
</section>

<section id="testimonial" class="wow fadeInUp delay-05s">
    <div class="bg-testicolor" style="max-height: 2vh">
      <div class="container section-padding">
        <div class="row">
          <div class="testimonial-item">
            <ul class="">
              <li>
                <blockquote>
                    <p>If I could describe Big Write in a few words I’d call it liberating and a free canvas of our thoughts, guiding us to our eventual goal of the extended essay</p>
                </blockquote>
                <small>Siya Gokhale, IB Bridge B</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                            
                <p class="sub-title pad-bt15">With a structure laid out for us,  we have started to gradually build on the foundation in class by laying the first bricks, also known as the broad topic, narrow topic and the research question. Big Write teaches us the importance of having the ability to translate one’s ideas, inclinations and thought processes into words with enough skill and efficiency. Exploring topics we never knew we would find interesting not only boosted our perspectives but also broadened our creativity!
                </p>
                
            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="img/bw1.png" style="max-width: 100%" alt="">
            <p>Work done by Navneeth Dhamotharan</p>
          </div>
          <div class="col-md-6">
            <img src="img/bw2.png" style="max-width: 100%" alt="">
            <p>Work done by Hannah Misquitta</p>
          </div>
        </div>
        <h4>Written by Tamanna Staney Pullolickel</h4>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>