<%- include('partials/header') %>

<style>
    .header{
        background: url('../img/cas_thumbnail.png') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0.1);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>CAS</h1>
                <h4>Creativity, Activity, Service</h4>
                <hr class="bottom-line">
            </div>

            <div class="col-md-12">
            
                <p class="sub-title pad-bt15">CAS is easily and undeniably one of the students’ favorite modules. Held in unique ways by our innovative teachers, the sessions keep us captivated and engaged.</p>
                <p class="sub-title pad-bt15">In a recent class, students were provided the opportunity to walk through the entire school, scanning for areas of improvement. This allowed us to look at our environment with a different perspective as compared to the usual, empowering us to be positive change-makers.</p>
                <p class="sub-title pad-bt15">In another session, we introduced ourselves before the rest of the class in unique ways. Students creatively delivered their introduction, showcasing their talent for dance, puzzles and even word games such as hangman.  Through such activities, students have not only become more considerate, open-minded and reflective but have also discovered an increase in their self-confidence. Research suggests that CAS develops students’ skills for civic engagement.</p>
                <p class="sub-title pad-bt15">This module, for sure, will help us develop some useful life skills and we’re excited for the upcoming sessions.</p>
                <p class="sub-title pad-bt15"></p>

                <iframe style="display: block; margin: 50px auto" src="https://drive.google.com/file/d/1mE0G_XcJawV2-X0NsGxl2fkFQciA7wxR/preview" width="640" height="480"></iframe>
                <p style="text-align: center; margin-bottom: 20px">Ms. Sunnanda Mor and Ms. Bipasha De</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="img/cas1.jpg" style="width: 100%" alt="">
                </div>
                <div class="col-md-6">
                    <img src="img/cas2.jpg" style="width: 100%" alt="">
                </div>
            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
        <h4>Written by Noorayn Syed</h4>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>