<%- include('partials/header') %>

<style>
    .header{
        background: url('../img/CD3.png') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0.1);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Cultural Diversity</h1>
                <h4>The Strength in our differences</h4> 
                <hr class="bottom-line">
            </div>

            <div class="col-md-12">
            
                <p class="sub-title pad-bt15"><b><i>“Our cultural strength has always been derived from our diversity of understanding and experience.” - Yo-Yo Ma (United Nations Messenger of Peace)
                </i></b></p>
                <p class="sub-title pad-bt15"> Appreciation for cultural diversity is essential for our co-existence. Learning to acknowledge that all cultural differences are valid, respecting each other’s differences and valuing what different cultures bring to the table are basic lessons we learn to incorporate in our Cultural Diversity classes by Mr. Charles and Ms Sahana, which are nothing short of exciting and engaging. </p>
            

                <p class="sub-title pad-bt15">In the last two weeks, we have discussed the significance of sports in promoting cultural diversity and bringing the world together. This gripping session was conducted by our seniors who left us with a lot of knowledge and sowing in us an interest in understanding the interrelation between culture and sports. Ranging from discussing various prominent sports figures and their impact in the field of sports to understanding the history of sports, the session had it all. 
                </p>
                <p class="sub-title pad-bt15">We had yet another captivating session where we discussed how culture and food are intertwined and understood more about gastronomy. We discussed the various ways the UNESCO recognizes gastronomic traditions as intangible culture and ensures that they are celebrated. We were exposed to different food etiquettes around the world and how incumbent it is to know and respect them. Lastly, we deliberated over the importance of advertisement in the food industry and how it popularized the same. </p>

                <!-- <iframe style="display: block; margin: 10px auto" src="https://drive.google.com/file/d/1AV2X_Pk3DOlSa592lsW5yRy3NpVmRiTg/preview" width="640" height="480"></iframe> -->

                <p class="sub-title pad-bt15">The third session of the module motivated us to look at fashion from a whole special perspective. Our session with Mr. Kevin Oliver exposed us to the different aspects of fashion. The discussion ranged from fashion weeks to fashion shows and fashion capitals across the world. Understanding the world of fashion and the influence it has on our lives was the highlight of this session. Needless to say, it was a delightful session which kept us on our toes the entire time and revealed a whole new aspect of the fashion industry. 
                </p>

                <p class="sub-title pad-bt15">Through this module, we were able to gain an understanding of the various cultures around the globe and further help us in developing collaboration and cooperation, dispelling negative stereotypes and personal biases about different groups and recognizing and respecting ways of being that are not our own.  
                </p>

             <!--    <iframe style="display: block; margin: 10px auto" src="https://drive.google.com/file/d/18CGeGs4eaWwalMrXR7YRKj1MF6030EQA/preview" width="640" height="480"></iframe>

            </div>
            <div class="row" style="margin-top: 40px">
                <div class="col-md-4">
                    <img src="img/cd1.png" style="max-width: 100%" alt="">
                    <p>Work done by Paridhi Bhatia</p>
                </div>
                <div class="col-md-8">
                    <img src="img/cd2.png" style="max-width: 100%" alt="">
                    <p></p>
                </div>
            </div> -->

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
        <h4>Written by Gitali Sinha</h4>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>