<%- include('partials/header') %>

<style>
    .header{
        background: url('https://thumbs.dreamstime.com/b/cartoon-businessman-deconstruct-big-hand-70579317.jpg') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0.1);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Deconstruct</h1>
                <h4>Decode, Dissect and Decipher</h4> <!-- Heading not done yet-->
                <hr class="bottom-line">
            </div>

            <div class="col-md-12">
            
                
                <p class="sub-title pad-bt15">
                    Coming into the Bridge program, we half-expected our deconstruct classes to follow a pattern of the ICSE English Literature subject. Learning our literary devices, cross-examining them with reference to the poems and short stories we had done in class, and heading into exam season well prepared. A month into the program and we happily admit how thoroughly mistaken we were!
                    </p>
                </p>

                
            </div>
            <div class="col-md-7">
                <p class="sub-title pad-bt15">We have soaked up a resource bank of knowledge that has prepared us to analyze and comment on a text (be it literary or non-literary) through various lenses, while also looking at features like audience, purpose, formal and stylistic devices. It has forced us to think outside the box and find the deeper meanings in every form of text we notice around us.  
                </p>

                <p class="sub-title pad-bt15">Last week, we examined an advertisement from a magazine in the 1940’s about ‘Aunt Jemima’s Ready-Mix Pancakes’. We were encouraged to look at the socio-cultural issues of the era and its effect on the making of the advertisement, as well as deconstruct the phrasing, colour patterns, target audience and much more from the text.

            </div>
            <div class="col-md-5">
                <img src="img/dec2.png" alt="">
            </div>

         <!--    <div class="col-md-6">
                <img src="img/de1.png" style="width: 100%" alt="">
                <p>Work done by Samara Jimmy</p>
            </div>
            <div class="col-md-6">
                <img src="img/de2.png" style="width: 100%" alt="">
            </div>

            <div class="col-md-12">
                <iframe style="width: 100%;display: block; margin: 20px auto" src="https://docs.google.com/presentation/d/e/2PACX-1vS0xdS4NyODVJCa77g5wSy55qqI2IuO_3reyyO3sHR_jHpls3jX0pypXqhHnUyP4A/embed?start=true&loop=true&delayms=5000" frameborder="0" width="1000" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>

            <div class="col-md-12">
                <iframe style="width:100%;display: block; margin: 20px auto" src="https://docs.google.com/presentation/d/e/2PACX-1vRC72M7trNAj-F4ppiAYSjdjinWm6tGdqloi3amrIkk7uG34EJ51Tbq0xVTpo2MmA/embed?start=true&loop=true&delayms=5000" frameborder="0" width="1000" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div> -->

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
        <h4>Written by Pritika Sagar</h4>

    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>