<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/logo.png">
  <link rel="icon" type="image/png" href="/img/logo.png">
  <title>IB Newsletter | Edition 2</title>
  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
  <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- =======================================================
    Theme Name: Baker
    Theme URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

  <div class="loader"></div>
  <div id="myDiv">
    <!--HEADER-->
    <div class="header">
      <div class="bg-color">
        <header id="main-header">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="/home"><span style="color: black">Bridge</span> <span class="logo-dec">Fortnightly</span></a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" style="font-weight: 500"><a href="/home" style="font-weight: 500;">Home</a></li>
                    <li class="active" style="font-weight: 500"><a href="/editorial" style="font-weight: 500;">Editorial</a></li>                  <!-- <li class=""><a href="#feature">About</a></li>
                  <li class=""><a href="#service">Services</a></li>
                  <li class=""><a href="#portfolio">Portfolio</a></li>
                  <li class=""><a href="#testimonial">Testimonial</a></li>
                  <li class=""><a href="#blog">Blog</a></li>
                  <li class=""><a href="#contact">Contact Us</a></li> -->
                </ul>
              </div>
            </div>
          </nav>
        </header>

<style>
    .header{
        background: none;
        background-size: cover;
        max-height: 100px;
        min-height:auto;
        position: relative;
        color: white
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>BRIDGE FORTNIGHTLY</h1>
                <h4>Second Edition</h4>
                <hr class="bottom-line">
            </div>

            <div class="col-md-12">
            

                <p class="sub-title pad-bt15"><em>“ <strong>Students must have</strong> initiative; they <strong>should</strong> not be mere imitators. They must learn to
                    think and act for themselves - and be free. ”</em> <br> - Cesar Chavez (American Civil Rights Activist)</p>
                <p class="sub-title pad-bt15">We are now more than a month into our enriching Bridge Programme and we can
                    already experience our smooth and comfortable transitioning into the IB curriculum.
                    What started off as something that pushed us out of our comfort zone has now become
                    a Joie de vivre – ‘an exuberant enjoyment of life’ – for many of us, and we are sure of
                    the fact that most of us can now identify our latent abilities and are feeling inspired to
                    tread unbeaten paths.</p>
                <p class="sub-title pad-bt15">The production of this newsletter is a perfect example of ‘Ubuntu’, the African concept of
                    teamwork, which propounds the mechanisms to deal with the vast differences and
                    diversity within communities as it teaches humility, compassion, and connection among
                    mankind and natural life. An important outcome of working on this newsletter has been
                    the establishment of concrete ideas, practices, and options available for all team
                    members who have had their arguments and disagreements, but we all came together
                    and successfully compiled this edition in a tight time frame.</p>
                <p class="sub-title pad-bt15">‘Student initiatives’ is the key element of this newsletter, which features the awe-
                    inspiring Student Initiatives and Projects. The cover page and all the amazing artwork in
                    the newsletter was done by our super talented artists Rida Khan, Aditi Kumar and Mahi
                    Kohli of IB Bridge C. Their beautiful artwork on the cover page depicts the importance of
                    teamwork and collaborative learning in the IB Bridge Programme, something that has
                    always been encouraged and fostered by all our teachers in the IB section.</p>
                  <p class="sub-title padbt-15">This brilliant platform has been created by Saatvik Sharma of IB Bridge E . His
                    immense effort and love for coding has enabled us to come up with yet another successful edition 
                    of the Bridge Fortnightly. Hats off to his patience!</p>
                
                <p class="sub-title pad-bt15">The enriching IB Bridge program allows students to develop skills to become better IB
                    learners through its diverse modules. In this edition, we continue to exhibit all the action
                    that has been taking place in the various IB Bridge modules.</p>
                <p class="sub-title pad-bt15">You shall also get to know the new students who have recently joined the program.
                    Cheer them on as they share their expectations and experience of the IB Bridge
                    Programme.</p>
                    <p class="sub-title pad-bt15">This edition is also very special as we feature some of the teachers sharing with us about how
                      they are guiding us through the bridge program as well as a little bit about themselves.</p>
                <p class="sub-title pad-bt15">Oh, and by the way….did you enjoy matching the siblings’ pictures on the Newsletter
                    promo? You might like to know more about them in the IB Siblings segment!</p>


                <p class="sub-title pad-bt15">We hope that you enjoy this edition as much we enjoyed putting it together for you.</p>
                <p class="sub-title pad-bt15">Cheers!</p>
                <p class="sub-title pad-bt15">Ananya Sharma, </p>
                <p class="sub-title pad-bt15">(on behalf of The Editorial Team)</p>



            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
            <div class="col-md-12">
                <h2>Meet the Team</h2>
                <hr class="">
                
                <div class="row" style="margin-bottom: 20px">
                  <div class="col-md-2">
                    <img src="img/team/ahaan.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p>Hey, my name is Ahaan. I love physics, maths, sports, music, movies and computers. I am also fond of writing and I hope you enjoyed reading my article.</p>
                  </div>
                
                  <div class="col-md-2">
                    <img src="img/team/ananya.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p> Hey! I’m Ananya from IB Bridge E. I enjoy dancing, painting,traveling and talking to people.
                    </p>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                  <div class="col-md-2">
                    <img src="img/team/shreya.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p>Hey everyone! I’m Shreya Kumar and I enjoy writing and visual arts. Hope you enjoy reading my article as much as I enjoyed writing it :))</p>
                  </div>
                
                  <div class="col-md-2">
                    <img src="img/team/veda.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p>Hi! My name is Veda. My hobbies include swimming, playing the guitar and violin and reading tons of murder mystery books. Fun fact about me…..I have tried almost all the flavors of Baskin Robbins ice cream :)</p>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                  <div class="col-md-2">
                    <img src="img/team/alekan.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p>Hi, my name is Alekan! I love sports such as football and athletics. I enjoy gaming and travelling.
                    </p>
                  </div>
                
                  <div class="col-md-2">
                    <img src="img/team/pragya.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p>Hey, my name is Pragya! I love painting, swimming and debating.  A fun fact about me is that I enjoy studying anatomy through dissection of human bodies and….. I am a terrible chef :) 
                    </p>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                  <div class="col-md-2">
                    <img src="img/team/riya.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p>Hey, My name is Riya! I enjoy reading, dancing, listening to music and watching Korean dramas. And guess what, I can speak 5 languages!</p>
                  </div>
                
                  <div class="col-md-2">
                    <img src="img/team/tammana.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p>Hi! My name is Tamanna. I enjoy playing the guitar, collecting pretty stones and doing classical dance. Fun fact about me??? Well...I genuinely hate chocolate!</p>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                  <div class="col-md-2">
                    <img src="img/team/noorayn.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p>Hey! My name is Noorayn Sayed. I love reading, gardening and travelling. Hope you enjoy reading my article!</p>
                  </div>
                
                  <div class="col-md-2">
                    <img src="img/team/rida.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p>Hey I’m Rida! I love art and calligraphy.</p>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                  <div class="col-md-2">
                    <img src="img/team/aditi.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p>Hi! My name is Aditi Kumar and I like reading, fashion history, styling clothes and playing Minecraft.</p>
                  </div>
                
                  <div class="col-md-2">
                    <img src="img/team/me.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p>Hi! My name is Saatvik Sharma and I enjoy making websites and drumming. I also enjoy reading sci-fi and playing basketball.</p>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                  <div class="col-md-2">
                    <img src="img/mahi.png" style="max-width: 100%; max-height: 25vh" alt="">
                  </div>
                  <div class="col-md-4">
                    <p>Hey, I am Mahi. I am a new student from JSSIS. I am 16 and some of my interests include cooking and marine biology.</p>
                  </div>
                
                
                </div>


                
            </div>
        </div>

        <h3> <a href="/home">Click here to start viewing the newsletter!</a></h3>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>