<%- include('partials/header') %>

    <style>
        .header {
            background: url('img/et_thumbnail.png') no-repeat center center fixed;
            background-size: cover;
            min-height: 650px;
            position: relative;
        }
        .bg-color {
            background-color: rgba(0, 0, 0, 0.1);
            min-height: 650px;
        }
    </style>

    </div>
    </div>

    <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Exponential Technology</h1>
                    <h4><strong>We don’t use technology, we live technology </strong></h4>
                    <hr class="bottom-line">
                </div>

                <div class="col-md-12">

                    <p class="sub-title pad-bt15">With the possibility of robotics and machine learning taking over in the near future, the IB Bridge students had an astounding session with the Heriott Watt University experts who gave the opportunity to virtually create an obstacle sensing object using scratch and Arduino uno. </p>
        
                    <p class="sub-title pad-bt15">This is what a few of our Bridge tech enthusiasts had to say after completing the programme.
<br>
                    <i>"During the final session of the Exponential Technology module of our IB Bridge Programme, Prof. Tadhg O'Donovan from Heriot Watt University, Dubai taught us about the potential of robotic systems in revolutionizing industries for the future. Dr.Prashant K Soori taught us about the basics of an Arduino and how it could be used to build a simple robot. This session was incredibly engaging, allowing us to expand our horizons and enabling us with tools that could be used to build solutions for the future."</i> <br>
                        -Sahith Umesh Reddy
                        </p>
                </div>
           <!--      <div class="col-md-9">
                    <p class="sub-title pad-bt15">
                        Guest speaker, Mr. Sutharsan Parthasaarathy, is a certified blockchain solution architect. He enlightened us about blockchain technologies, web 3.0, and cryptocurrencies that left us students engaged and enthralled all the way through.
 
The next session took place on the following Tuesday. The guest speaker featured this time was Dr. Sabir Haque, a professional in the art of video content creation.


                    </p>

                    <p class="sub-title pad-bt15">
                        Dr. Haque captivated each of us in the audience with an incredible short film made by him. He made us realise what wonders an individual can achieve in the field of video creation by just using a smartphone.
“This made me realise there's no excuse to not make content, even if you don't have a professional grade camera”, says Siddhant Madhur of IB Bridge C.
Each exponential technology session offers something unique and truly enriching to all students, making our craving for the next lesson even stronger.

                    </p>

                </div> -->
                <div class="col-md-3">
                    <img src="img/et.png" style="width: 100%" alt="">
                    <p> The awards</p>
                </div>
               <!--  <div class="col-md-6" style="display: block; margin: 0 auto;">

                    <iframe style="display: block; width: 100%; margin: 0 auto;" src="https://drive.google.com/file/d/12yGdWDow_c27vnyhWSk7gVrUYcEhr_76/preview" width="640" height="480"></iframe>
                    <p style="text-align: center; margin-bottom: 30px">Mr. Ritesh Dhanak</p>
                </div>
                <div class="col-md-6">
                    <iframe style="display: block; width: 100%; margin: 0 auto;" src="https://drive.google.com/file/d/1IcHm1q7TgUrYmLu-Mz10c59nQUAAlfN7/preview" width="640" height="480"></iframe>

                </div> -->

                <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
                <!-- </div> -->
            </div>
            <h4>Written by Yashashvi Deshwal, Meghna Naveen</h4>
        </div>
    </section>

    <!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



    <%- include('partials/footer') %>