<%- include('partials/header.ejs') %>

<style>
  html {
    scroll-behavior: smooth;
  }
  .header{
        background: url('https://drive.google.com/file/d/1UfKS0luT_IVxiqriIIRoSn36fYneAN04/view?usp=sharing') no-repeat center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0.2);
        min-height: 650px;
    }
</style>

        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
                <h1 class="bnr-title">IB Bridge presents to you</h1>
                <h2 class="bnr-sub-title">Bridge <span class="logo-dec">Fortnightly</span></h2>
                <p class="bnr-para">Third Edition - 31st May to 15th June</p>
                <div class="brn-btn">
                  <a href="#portfolio" class="btn btn-more">Get started</a>
                </div>
                <!-- <div class="overlay-detail">
                  <a href="#feature"><i class="fa fa-angle-down"></i></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ HEADER-->
    <!---->
    <!-- <section id="feature" class="section-padding wow fadeIn delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="img/ser01.png">
              </div>
              <h3 class="pad-bt15">Creative Concept</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="img/ser02.png">
              </div>
              <h3 class="pad-bt15">Amazing Design</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="img/ser03.png">
              </div>
              <h3 class="pad-bt15">Cost effective</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="img/ser04.png">
              </div>
              <h3 class="pad-bt15">Secure</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!---->
    <!---->
    <!-- <section id="service" class="section-padding wow fadeInUp delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">What We Do?</h2>
            <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
            <hr class="bottom-line">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>D</span>esign And Developement</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a href="">learn more...</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>W</span>ebsite Maintenance</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a href="">learn more...</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>S</span>eo Optimization</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a href="">learn more...</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>D</span>igital Marketing</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a href="">Learn more...</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!---->
    <!---->
    <!---->
    <!---->
    <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">Our Recent Works</h2>
            <p class="sub-title pad-bt15">A peep into the fortnight that went by.</p>
            <hr class="bottom-line">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/ah">
              <figure>
                <img src="img/ah_thumbnail.png" class="img-responsive">
                <figcaption>
                  <h2>Academic Honesty</h2>
                  <p>Rather be honest than impressive</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/cd">
              <figure>
                <img src="https://ulfire.com.au/wp-content/uploads/2014/07/cultural-diversity.png" class="img-responsive">

                <figcaption>
                  <h2>Cultural Diversity</h2>
                  <p>The Strength in our differences</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/se">
              <figure>
                <img src="img/se_thumbnail.png" class="img-responsive">
                <figcaption>
                  <h2>Social Entrepreneurship</h2>
                  <p>Innovation Mela but the IB Way</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/am">
              <figure>
                <img src="img/am_thumbnail.png" class="img-responsive">
                <figcaption>
                  <h2>Assessment Module</h2>

                  <p>IB Exams - Hard or Hyped?</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/ls">
              <figure>
                <img src="https://www.michiganassessmentconsortium.org/wp-content/uploads/2019-alm-bubbles.png" class="img-responsive">
                <figcaption>
                  <h2>Life Skills</h2>
                  <p>When life gives you lemons...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/is">
              <figure>
                <img src="https://www.smm.org/sites/default/files/public/styles/large/public/images/experience/invsci.jpg?itok=00NyoPM8" class="img-responsive">
                <figcaption>
                  <h2>Investigative Science</h2>
                  <p>Investigations Galore - Puppets, watermelons and more!</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/dec">
              <figure>
                <img src="img/dec_thumbnail.png" class="img-responsive">
                <figcaption>
                  <h2>Deconstruct</h2>
                  <p>Decode, Dissect and Decipher</p>
                  <p></p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/pol">
              <figure>
                <img src="img/pol_thumbnail.png" style="max-height: 32vh" class="img-responsive">
                <figcaption>
                  <h2>Philosophy of Learning</h2>
                  <p>Tell me, I forget. Show me, I remember. Involve me, I learn.</p>
                  <p></p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/fm">
              <figure>
                <img src="img/fm_thumbnail.png" class="img-responsive">
                <figcaption>
                  <h2>Flexi Module</h2>
                  <p>Flexing in Flexi</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/da">
              <figure>
                <img src="img/da_thumbnail.png" class="img-responsive">
                <figcaption>
                  <h2>Data Analysis</h2>
                  <p>Data is the new oil.</p> <!--Heading not updated yet man-->
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/cas">
              <figure>
                <img src="img/cas_thumbnail.png" class="img-responsive">
                <figcaption>
                  <h2>CAS</h2>
                  <p>Creativity, Activity, Service</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/bw">
              <figure>
                <img src="img/bw_thumbnail.png" class="img-responsive">
                <figcaption>
                  <h2>Big Write</h2>
                  <p>Think big, write big!</p>
                </figcaption>
              </figure>
            </a>
          </div>
          
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/tte">
              <figure>
                <img src="img/tte_thumbnail.png" class="img-responsive">
                <figcaption>
                  <h2>Talk to the Expert</h2>
                  <p>Let's talk</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/gc">
              <figure>
                <img src="img/gc_thumbnail.png" class="img-responsive">
                <figcaption>
                  <h2>Global Citizenship</h2>
                  <p>Global-istic</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <a href="/et">
              <figure>
                <img src="img/et_thumbnail.png" class="img-responsive">
                <figcaption>
                  <h2>Exponential Technology</h2>
                  <p>A blast into the future</p>
                </figcaption>
              </figure>
            </a>
          </div>
          
        </div>
      </div>
    </section>
    <!---->
    <!---->
    <!---->
    <section id="blog" class="section-padding wow fadeInUp delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">Fun Segment</h2>
            <hr class="bottom-line">
          </div>
          
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="blog-sec">
              <div class="blog-img">
                <a href="/si">
                  <img src="img/dotthebot.png" class="img-responsive">
                </a>
              </div>
              <div class="blog-info">
                <h2>Student Initiatives</h2>
                
                <p></p>
                <a href="/si" style="margin-bottom: 20px" class="read-more">Read more →</a>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="blog-sec">
              <div class="blog-img">
                <a href="/new">
                  <img src="img/new.jpg" class="img-responsive">
                </a>
              </div>
              <div class="blog-info">
                <h2>New Students</h2>
                
                <p></p>
                <a href="/new"  style="margin-bottom: 20px" class="read-more">Read more →</a>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="blog-sec">
              <div class="blog-img">
                <a href="/mtt">
                  <img style="max-height: 50vh" src="img/mt_thumbnail.png" class="img-responsive">
                </a>
              </div>
              <div class="blog-info">
                <h2>MTT Skit</h2>

                <p></p>
                <a href="/mtt"  style="margin-bottom: 20px" class="read-more">Read more →</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="blog-sec">
              <div class="blog-img">
                <a href="/siblings">
                  <img src="img/sib_thumbnail.png" class="img-responsive">
                </a>
              </div>
              <div class="blog-info">
                <h2>IB Siblings</h2>
                
                <p></p>
                <a href="/siblings"  style="margin-bottom: 20px" class="read-more">Read more →</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="blog-sec">
              <div class="blog-img">
                <a href="/funfacts">
                  <img style="max-height: 39vh" src="https://www.nea.org/sites/default/files/legacy/2020/04/new_teacher.jpeg" class="img-responsive">
                </a>
              </div>
              <div class="blog-info">
                <h2>Fun Facts about Teachers</h2>
                
                <p></p>
                <a href="/funfacts" style="margin-bottom: 20px" class="read-more">Read more →</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---->
    
    <!---->
    <!---->
<%- include('partials/footer.ejs') %>
