<%- include('partials/header') %>

<style>
    .header{
        background: url('../img/si_main.png') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0.1);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Student Initiatives</h1>
                <hr class="bottom-line">
            </div>

            <div class="col-md-12">
            
                <p class="sub-title pad-bt15">As soon as we stepped foot into the Bridge program, we were told that these few months would be the period of time in which an unrealistic number of student initiatives would be taken forward. Now that we are settled in, we can truly see it happening first hand.</p>
                <p class="sub-title pad-bt15">The ‘Senior School Model United Nations’ conference held online on the 21st and 22nd of May, 2021, aimed to create a simulation of the United Nations, arousing the interest of students in diplomacy, and international relations. Receiving about 65 delegate registrations, this MUN conference became one of the largest intra-school events. Organized by Vismay Suramwar, Divij Punjabi and Siddhant Barua, it was an absolute spectacle to watch as well as be a part of. </p>

            </div>

            <div class="col-md-8">
                <p class="sub-title pad-bt15">‘Dot the Bot’, created by Rachael Jijo, Meghna Naveen, Pratyush Sharma and Siya Gokhale, strived to educate the youth of our school on ‘Digital Citizenship’. With the guidance of Ms. Annika, this innovative team was able to conduct assemblies and organize brief talks with students. “Dot the Bot” definitely gained tremendous amounts of positive attention and created an atmosphere of curiosity, learning and enthusiasm. </p>
                <p class="sub-title pad-bt15">Over the course of this term, many senior school students have engaged in the ‘Tehseen Scholar Intervention Program’. This project encourages us seniors to mentor students in mathematics and science through initiating better learning amongst pupils of primary and middle school by facilitating senior-junior interactions. </p>
            </div>

            <div class="col-md-4 mb-4">
                <img src="img/si1.png" style="max-width: 100%; max-height: 55vh; margin-bottom: 20px" alt="">
            </div>

            <div class="col-md-12">
                <p class="sub-title pad-bt15">A show-stopping trilogy of plays to advocate for mental health awareness was displayed by Hunar Miglani, Pritika Sagar and Meghna Naveen. Titled ‘Anxiety’, ‘My Proper Facade’, and ‘Dear God’, these plays enabled us to view mental illnesses in a new light. The writers, Michael D.S.Jr., Hunar, and D.M. Larson accurately portrayed apprehension, the importance of therapy, and dissociative identity disorder respectively to the audience. Check it out <a href="/mtt">here</a>.</p>
                <p class="sub-title pad-bt15">The enthusiastic dancers of our batch- Anwesha Parida, Samara Jimmy and Vidhi Parsani- were hard at work teaching grade seven students the ins and outs of dance. In addition, Anwesha Parida and Vidhi Parsani performed two jaw dropping and electrifying performances. We cannot wait to see what they do next!</p>
                <p class="sub-title pad-bt15">The above are just a few of the inventive initiatives put forth by the students of IB Bridge. As time flies in this program, the number of pupils coming forth to present a solution to social, academic or economic problems locally and globally continues to grow linearly. </p>
            </div>

            <div class="col-md-6">
                <img src="img/ssmun.png" style="width: 100%" alt="">
            </div>
            <div class="col-md-6">
                <img src="img/dotthebot.png" style="width: 100%" alt="">
            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>