<%- include('partials/header') %>

<style>
    .header{
        background: url('https://investigatingsciencehsc.files.wordpress.com/2018/10/sciencerecipe.jpg') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0.4);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Investigative Science</h1>
                <h4> If you never try, you’ll never know. Keep Experimenting!</h4> <!-- HEADING DONE-->
                <hr class="bottom-line">
            </div>

            <div class="col-md-12">
                <p class="sub-title pad-bt15"><i>“Science is magic that works.”<br>- <b>Kurt Vonnegut</b></i>In what was easily the most exciting week, we completed our Group 4 projects, something that we, Bridge students, experienced for the first time...and with all the chaos and confusion about how to do things, we got through it, together!
                </p>
               
                    <p class="sub-title pad-bt15">The application of all the knowledge we had learnt came to use when we worked on our experiments. From learning how to make lab reports to melting chocolates, all of it was the application of what we had learned over the past several weeks. Research and analysis is what science teaches us, but the Investigative Science module “accurately” and “precisely” taught us how to do it in a systematic way. </p>
    
                
                <p class="sub-title pad-bt15">From flying paper planes to homeostasis, the Group 4 projects gave us an opportunity to critically think and implement the ideas in a way our science knowledge was clearly applied and manifested. We were compelled to bring out the curiosity from within and question everything we did while prepping. Throughout this super fun and exciting scientific journey, we learnt that teamwork and cooperation were needed to work in groups. These Group 4 projects will certainly be one of the fondest memories as an IB Bridge student. </p>
                <p class="sub-title pad-bt15">We hope to keep overfilling the test tubes with our curiosity, the beakers with knowledge and utilize the droppers to spread it everywhere :)
                </p>

            </div>

            <div class="col-md-6" style="margin-bottom: 40px">
                <iframe src="https://drive.google.com/file/d/1Bxx9Wp07INOdRuQuTth6I1PdzMa19_kM/preview" width="640" height="480" allow="autoplay"></iframe>
                <p>A skit performed by Alekan Serrao and Shubham Rawat. 
                </p>

            </div>
            <!-- <p class="sub-title pad-bt15">We also conducted an experiment on 'Shadow Puppets' and for this, we worked in  smaller groups, making our own puppets out of paper and determining our own research  questions. </p> -->
            <div class="col-md-6">
                <img src="img/is1.png" style="width: 100%" alt="">
                <img src="img/is3.png" style="width: 100%" alt="">

                <p>Riya Reddy, Tanisha Raje, Shreya Kumar, Yashasvi Deswal, Devanshi Negi and Vibha Nair conducting their experiment.
                </p>
            </div>

            <div class="col-md-6">
                <img src="img/is4.png" style="width: 100%" alt="">
                <img src="img/is5.png" style="width: 100%" alt="">
                <img src="img/is6.png" style="width: 100%" alt="">
                <p>Various groups receiving prizes for their exemplary experiments.
                </p>
            </div>
            <!-- <div class="col-md-6">
                <iframe style="width: 100%;display: block; margin: 20px auto" src="https://drive.google.com/file/d/1ndBGwOEWzu4gK1weEcAeGF2PBvO9R3fg/preview" width="640" height="480"></iframe>
            </div>
            <div class="col-md-3">
                <img style="width: 100%" src="img/is1.jpeg" alt="">
                <p>Students working on the Shadow Puppet activity</p>
            </div> -->
     <!--        <div class="col-md-3">
                <img style="width: 100%" src="img/watermelon.jpeg" alt="">
                <p>Raghav Bhatia, Syed Rahman, Veeraj Dhakan and Siddhant Barua of Bridge A performing the watermelon experiment.</p>
            </div> -->

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
          <!--   <div class="col-md-8">
                <iframe style="width: 100%" height="500" src="https://docs.google.com/document/d/e/2PACX-1vSgEgRlqVlysry2yA2VmfzJRxh_75MOvNAzHIaSiCL-SqImLdGKvjQ-F2YiyDiteSn3uYW7mbNHkGUV/pub?embedded=true"></iframe>
                <p>Work done by Syed</p>
            </div> -->
         <!--    <div class="col-md-12">
                <p class="sub-title pad-bt15">And what better way to conclude this narrative of experiment than with a compilation of  exploding watermelons? </p>

            </div> -->
        </div>
        <h4>Written by Shardul Joglekar and Yashashvi Deshwal</h4>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>