<%- include('partials/header') %>

<style>
    .header{
        background: url('../img/ls_main.png') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0.1);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Life Skills</h1>
                <h4>When life gives you lemons...</h4>
                <hr class="bottom-line">
            </div>

            <div class="col-md-8">
                            

                <p class="sub-title pad-bt15">Scared of going out into the real world? Don’t be! IB gives us the opportunity to build on our life skills by tackling the basic problems such as adapting to change, controlling how we react to situations, and channeling our emotions to positivity in the face of adversity.</p>
                <p class="sub-title pad-bt15">Our teachers – Ms. Maria, Ms. Shilpa, Ms. Annika, and Ms. Rahila continue to help us instil the growth mindset of finding new ways of thinking and problem solving. But of course, how can we use our critical thinking when we aren’t able to recognise the impact of our actions?</p>
            </div>

              <div class="col-md-4">
                <img src="img/ls1.png" style="max-width: 100%; display: block; margin: 20px auto;" alt="">
<p>Bridge A Students</p>
              </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
        <h4>Written by Tamanna Staney Pullolickel</h4>

    </div>
</section>

<section id="testimonial" class="wow fadeInUp delay-05s">
    <div class="bg-testicolor" style="max-height: 2vh">
      <div class="container section-padding">
        <div class="row">
          <div class="testimonial-item">
            <ul class="">
              <li>
                <blockquote>
                    <p>As an active learner, interactive class discussions helped in my development to adapt to change, especially in the ongoing pandemic.</p>
                </blockquote>
                <small>Suhani Rajgarhia, IB Bridge A</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                            
                <p class="sub-title pad-bt15">This module teaches us to take responsibility for our own behaviour and allows us to build confidence in not only our spoken skills but also group collaboration and cooperation!

                </p>
                
            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>