<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/logo.png">
  <link rel="icon" type="image/png" href="/img/logo.png">
  <title>IB Newsletter | Edition 2</title>
  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
  <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- =======================================================
    Theme Name: Baker
    Theme URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

  <div class="loader"></div>
  <div id="myDiv">
    <!--HEADER-->
    <div class="header">
      <div class="bg-color">
        <header id="main-header">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="/home"><span style="color: black">Bridge</span> <span class="logo-dec">Fortnightly</span></a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" style="font-weight: 500"><a href="/home" style="font-weight: 500;">Home</a></li>
                    <li class="active" style="font-weight: 500"><a href="/editorial" style="font-weight: 500;">Editorial</a></li>                  <!-- <li class=""><a href="#feature">About</a></li>
                  <li class=""><a href="#service">Services</a></li>
                  <li class=""><a href="#portfolio">Portfolio</a></li>
                  <li class=""><a href="#testimonial">Testimonial</a></li>
                  <li class=""><a href="#blog">Blog</a></li>
                  <li class=""><a href="#contact">Contact Us</a></li> -->
                </ul>
              </div>
            </div>
          </nav>
        </header>

<style>
    .header{
        background: none;
        background-size: cover;
        max-height: 100px;
        min-height:auto;
        position: relative;
        color: white
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>MEET OUR NEW STUDENTS</h1>
                <!-- <h4>One World, Many Cultures</h4> -->
                <hr class="bottom-line">
            </div>
        </div>
            

            <div class="row" style="margin-bottom: 50px">
                <div class="col-md-6">
                    <img src="img/aryan.png" alt="" style="max-width: 100%; max-height: 40vh">
                </div>
                <div class="col-md-6">
                    <p class="sub-title pad-bt15">Hi! My name is Aryan Roshan. I enjoy playing sports like Basketball and Badminton and love playing video games. I also love to cook meals for myself in my free time.

                        The bridge program has been quite enjoyable so far with a bunch of research based assignments and activities that are quite different from the traditional textbook based learning. While I do find some modules difficult, I hope to iron out my flaws before I step into the IB curriculum.
                        </p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-md-6">
                    <p class="sub-title pad-bt15">Hi! I’m Simona Ann Fuller. I recently joined GEMS Modern Academy from DPS Sharjah, and I’ve honestly fallen in love with this school! My teachers are lovely and supportive, and so are the students. I love playing basketball, swimming, reading, sketching and baking.
                        The method of teaching and learning in the IB Bridge program is extremely refreshing. Looking forward to the many exciting things we’ll be doing in the next two years!
                        </p>
                </div>
                <div class="col-md-6">
                    <img src="img/simona.png" alt="" style="max-width: 100%; max-height: 40vh">
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-md-6">
                    <img src="img/mahi.png" alt="" style="max-width: 100%; max-height: 40vh">
                </div>
                <div class="col-md-6">
                    <p class="sub-title pad-bt15">
                        I am Mahi of IB Bridge C. GEMS Modern Academy has been very welcoming to all of it’s new students and has helped me in adjusting to the learning environment here. The IB bridge program has been very different from anything that I had previously learnt from but is very engaging and interesting. The program offers opportunities that help me know more and understand better. The various skills that are being taught in the program are very helpful. The best skill that I am developing from this program is my critical thinking skill. This program is very helpful and has made me feel prepared for the upcoming IB Diploma programme. I am eager to see what more the program has to offer.
                        </p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-md-6">
                    <p class="sub-title pad-bt15">
                        My name is Aditya Venkitesh Sudin, i am confused to find myself at the threshold of teenage, busy figuring out, what to do in life, i expect a lot from life even after being in a midst of a year long pandemic, i while away my time gaming, coding, swimming, netflix, and what any other 16 year old would enjoy.
Coming from an Indian curriculum, I was confused looking at the teaching methods and the kind of skills taught. The kind of teaching and learning is way different than what I had experienced in my previous schooling years, and I love it! 

                        </p>
                </div>
                <div class="col-md-6">
                    <img src="img/adi.png" alt="" style="max-width: 100%; max-height: 40vh">
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-md-6">
                    <img src="img/anirudh.png" alt="" style="max-width: 100%; max-height: 40vh">
                </div>
                <div class="col-md-6">
                    <p class="sub-title pad-bt15">
                        Hi my name is Anirudh Arun. I joined GMA from DPS Sharjah. The main reason I joined GMA is because I was very keen on joining a school that had the IB curriculum. I find the bridge program extremely useful as it is helping me prepare for what's coming in September. Outside academics I am someone who's interested in football and dance. These are two things that I've been doing for years now and hope to continue doing. 
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-md-6">
                    <p class="sub-title pad-bt15">Hi! My name is Aditi Kumar and I like reading, fashion history, styling clothes and playing minecraft. Despite being new to the school and the curriculum, thanks to the supportive teachers and my friendly and really helpful peers. I already feel a part of the school. I have been given endless opportunities to participate in various activities, one being making the cover of this very newsletter itself. The IB Bridge program is forcing me to step out of my comfort zone and expand the limits of my thinking; it is a refreshing and exciting experience. I think it’s safe to say all our modules are very interesting and I can’t help but look forward to what we will learn in each class.</p>
                </div>
                <div class="col-md-6">
                    <img src="img/aditi.png" alt="" style="max-width: 100%; max-height: 40vh">
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-md-6">
                    <img src="img/prati.png" alt="" style="max-width: 100%; max-height: 40vh">
                </div>
                <div class="col-md-6">
                    <p class="sub-title pad-bt15">Hi! My name is Pratihta Keswani and I’m in IB Bridge C. So far, bridge classes have been interesting, and I've learned a lot of new concepts, which makes it even more enjoyable. It's a lot better than I had imagined, and I'm looking forward to learning more. I normally enjoy playing basketball and swimming, and I've won a few awards in both sports. I also think I'm really decent at painting, and I generally do it since it's really therapeutic. I also enjoy working out and I've recently started playing the guitar too.</p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-md-6">
                    <p class="sub-title pad-bt15">Hi I am Steven and I joined from Ambassador School Dubai in Mankhool. I joined the IB curriculum and am currently in IB bridge A. I like playing football and reading. I also like to swim and play video games. The IB bridge program is very fun so far and has helped me develop a lot of skills I lacked. My favorite modules so far are Data analysis and Deconstruct. The students have been very friendly so far and have welcomed me well.</p>
                </div>
                <div class="col-md-6">
                    <img src="img/steven.png" alt="" style="max-width: 100%; max-height: 40vh">
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-md-6">
                    <img src="img/isa.png" alt="" style="max-width: 100%; max-height: 40vh">
                </div>
                <div class="col-md-6">
                    <p class="sub-title pad-bt15">Hi my name is Isabel! Coming from CBSE, IB Bridge was a completely new experience. At first, all the different periods sounded like nonsensical mumbo-jumbo but as soon as Bridge started, I was awestruck. From reading between the lines at deconstruct, enjoying culture with cultural diversity and returning to our roots and doing some math with Data Analysis, everything is crafted so meticulously and ties in flawlessly. As a new student, my nervousness disappeared with the first day. Both teachers and students are so incredibly approachable making this an all-round amazing experience.</p>
                </div>

            </div>
            <div class="row" style="margin-bottom: 50px">

                <div class="col-md-6">
                    <p class="sub-title pad-bt15">I am Karthika Manoj from IB Bridge C. The IB Bridge Program has been a great experience for me. It has helped me to understand my strengths and weaknesses. It has helped me to know what skills I need to work on. This program will help me for a smooth transition to IB Diploma. I am excited to start my academic year. I go for a lot of extra curricular activities like yoga, karate, badminton, tennis, music, public speaking, computer courses, martial arts.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="img/kar.png" alt="" style="max-width: 100%; max-height: 40vh">
                </div>
            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>