<%- include('partials/header') %>

    <style>
        .header {
            background: url('img/pol_thumbnail.png') no-repeat center center fixed;
            background-size: cover;
            min-height: 650px;
            position: relative;
        }
        .bg-color {
            background-color: rgba(0, 0, 0, 0.1);
            min-height: 650px;
        }
    </style>

    </div>
    </div>

    <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Philosophy of Learning</h1>
                    <h4>Tell me, I forget. Show me, I remember. Involve me, I learn.</h4>
                    <hr class="bottom-line">
                </div>

                <div class="col-md-12">

                    <p class="sub-title pad-bt15"> </p>
                    <p class="sub-title pad-bt15">Has it ever occurred to any one of us that most of the time we actually start thinking only when a question is posed to us? During the last couple of weeks, we have learnt how to question our knowledge and engaged in activities related to understanding how we have obtained our knowledge.
                    </p>



                    <p class="sub-title pad-bt15">Bridge D was shown a picture and they were asked the question - ‘How did you know what was going on in that picture?’. Was their answer based on their personal experiences or from pictures they had seen on the news? 
                        
                    </p>
                    <p class="sub-title pad-bt15">
                        Bridge C did an exercise where they had to give statements regarding
something they knew and had to back it up with evidence by doing research, while Bridge B explored the world of perspectives. We understood the concept of having a growth mindset. 

                    </p>
                    <p class="sub-title pad-bt15">
                        Philosophy of Learning is an intriguing module which makes us reflect on the
origin of our knowledge. As Jean Piaget has said - 
<i>“What we see changes what we know. What we know changes what we see.”</i>
                        </p>

                        <iframe style="display: block; margin: 20px auto;" src="https://drive.google.com/file/d/1Aki_HnHoQbD13YE27l_c4x9pyUOqQyKF/preview" width="640" height="480"></iframe>
                            <p style="text-align: center; margin-bottom: 20px">Ms. Shilpa Kapoor</p>


                </div>

                <div class="col-md-6">
                    <img src="img/pol1.png" style="max-width: 100%" alt="">
                    <p>Work done by Pratyush Sharma</p>
                </div>
                <div class="col-md-6">
                    <img src="img/pol2.png" style="max-width: 100%" alt="">
                    <p>Work done by Nazah Zubaida</p>
                </div>

                <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
                <!-- </div> -->
            </div>
            <h4>Written by Veda Dinesh</h4>
        </div>
    </section>

    <!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



    <%- include('partials/footer') %>