<%- include('partials/header') %>

<style>
    .header{
        background: url('../img/se_main.png') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0.250);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Social Entrepreneurship</h1>
                <h4>Innovation Mela but the IB Way</h4>
                <hr class="bottom-line">
            </div>

            <div class="col-md-12">
              
                <p class="sub-title pad-bt15">From converting sound waves to electricity to providing sustainable menstrual products to underprivileged women in India, a great variety of creative solutions have been displayed. Project ‘Save the Oil’ by Rachel and Siya of IB Bridge B focuses on the grave dangers of localised oil spills in the oceans that pollutes water, depletes habitats and affects the flora and fauna of the ocean. They aim to build an affordable innovation on industrial lines, which could be fitted on the hulls of ships, that could collect crude oil from the spills caused by ships at sea.</p>
            </div>
            <div class="col-md-8">
              <p class="sub-title pad-bt15"> As privileged Modernites, it is our duty to aid and serve society. The social entrepreneurship module provided us the opportunity to do justice to the prerogative into which we have been born through the events of these past few weeks.

              <p class="sub-title pad-bt15">After probing into, and carefully adopting one social issue as a challenge to take on, we strived to craft a creative, but feasible solution to the conflict. The teachers guided our erroneous thinking to be culturally, socially, and economically viable in order to pitch a faultless proposal to our peers. </p>
            </div>
            <div class="col-md-4">
              <img src="/img/se1.png" alt="">

            </div>
                
            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
    </div>
</section>

<section id="testimonial" class="wow fadeInUp delay-05s">
    <div class="bg-testicolor" style="max-height: 2vh">
      <div class="container section-padding">
        <div class="row">
          <div class="testimonial-item">
            <ul class="">
              <li>
                <blockquote>
                  <p>The SE Module is a great platform to initiate ideas and enhance collaboration while stimulating our critical and analytical skills simultaneously. We are made to look at prevalent issues in today’s society and suggest possible remedial measures</p>
                </blockquote>
                <small>Anannya Vaidya, IB Bridge E</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
              <iframe style="display: block; margin: 20px auto" src="https://drive.google.com/file/d/11dNJeDebAZ1K5U_GEYN-KDBojlYTtm8_/preview" width="640" height="480"></iframe>
                <p class="sub-title pad-bt15">Although we were only guided to theorize our solutions to these social crises, we will make sure to scale our proposition up to project it in a manner that truly benefits society. </p>
                <!-- <img src="img/se2.png" alt="" style="display: block; margin: 0 auto"> -->
            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
    </div>
    <div class="container">
      <div class="row" style="margin-bottom: 40px">
        <!-- <div class="col-md-6">
          <img src="img/set1.png" style="max-width: 100%" alt="">
          <p>SE presentation of Team Libra</p>
        </div>
        <div class="col-md-6">
          <img src="img/set2.png" style="max-width: 100%" alt="">
        </div> -->
        <div class="col-md-10" style="width: 100%; display: block; margin: 0 auto;">
          <!-- <iframe  src="https://docs.google.com/presentation/d/e/2PACX-1vSHHISfTPo-eGJGPqpCP_UtGRnVtc1h7bbvC0lJMgLOqbnrvM5gzY-vlPgojfwMaw/embed?start=false&loop=true&delayms=3000" frameborder="0" width="1000" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
          <iframe style="width: 100%" src="https://docs.google.com/presentation/d/e/2PACX-1vSHHISfTPo-eGJGPqpCP_UtGRnVtc1h7bbvC0lJMgLOqbnrvM5gzY-vlPgojfwMaw/embed?start=true&loop=true&delayms=3000" frameborder="0" width="1000" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          <p>SE presentation of Team Libra</p>

        </div>
      </div>

      <div class="row">
        <!-- <div class="col-md-6">
          <img src="img/set3.png" style="max-width: 100%" alt="">
          <p>SE presentation of Team Encrypt</p>
        </div>
        <div class="col-md-6">
          <img src="img/set4.png" style="max-width: 100%" alt="">
        </div> -->
        <div class="col-md-10"  style="width: 100%; display: block; margin: 0 auto;">
          <iframe style="width: 100%" src="https://docs.google.com/presentation/d/e/2PACX-1vQ1ocUjYuAdVuKpkAWru9JmN39TQTxepPME2bRLuavbiXl1G-HwerFdzcFMY50Wfw/embed?start=true&loop=true&delayms=5000" frameborder="0" width="1000" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          <p>SE presentation of Team Encrypt</p>

        </div>
      </div>
      <h4>Written by Pragya Gnanasekaran</h4>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>