<%- include('partials/header') %>

<style>
    .header{
        background: url('../img/se_main.png') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0.250);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Social Entrepreneurship</h1>
                <h4> Be the change you wish to see in the world
                </h4>
                <hr class="bottom-line">
            </div>

            <div class="col-md-12">
                <p class="sub-title pad-bt15"><i>“The best way to predict the future is to create it.”<br>- <b>Peter Drucker</b></i>Redesigning toilets, making websites and revolutionizing education for students with special needs. All of this was part of the Social Entrepreneurship module’s final showcase. 
                </p>
                <p class="sub-title pad-bt15">For the past two months, we had critically analyzed and identified numerous issues plaguing our world and upon identifying an appropriate issue we have been working towards solutions for the same.</p>
            </div>
            <div class="col-md-8">
              <p class="sub-title pad-bt15"> For the final showcase, we had two main components: a one minute pitch and a one minute video. The videos were a special collaboration between the Exponential Technology segment and the Social Entrepreneurship module. 
                We had a special guest, Mr. Anish Malpani, an alumni of Modern, who judged all of the projects. With over 20 different teams and videos, Mr. Anish had a tough time judging all of them and deciding on the final winners. We also had Dr. Saber judge the one minute advertisement videos of the students and give out the results.
                

              <p class="sub-title pad-bt15">According to special guest Dr.Anish Malpani
        <br>
                Best Project Category:
                <br>
                1st Place - Hydro Pro
                 (Sachit Juneja, Raihan Firosh)
                <br>
                2nd Place - Project Scarletta 
                (Lavya, Sanjana, Samara, Pragya, Chloe)
                <Br>
                3rd Place - Project Kelele
                (Siddhant Barua, Suhani Rajgharia, Raghav Bhatia, Yashashvi Deshwal, Misha Anand, Paridhi Bhatia)
                <br>
                According to Dr. Saber-
                <br>
                Best Advertisement Category:  
                <br>
                1st Place - Hydro Pro
                <Br>
                2nd Place - Project Kelele
                <Br>
                3rd Place - Beach Clean Up
                </p>
            </div>
            <p class="sub-title pad-bt15">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ6LYNyIsQnLiBI_pxhTPdlqV4ulgD6MHGGskMaX-h3Go5yeMmS5pRFaip4-DfrA1psxNICJ-YQerig/embed?start=true&loop=true&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </p> 
             <div class="col-md-4">
              <img src="/img/se1.png" alt="">
              <p>1<sup>st</sup> Place - Team Hydro Pro- Sachit Juneja, Raihan Firosh</p>

            </div> 
            <div class="col-md-4">
                <img src="/img/se2.png" alt="">
                <p>Disha Lal, Pritika Sagar, Meghna Naveen, Tanisha Rakesh Raje</p>
  
              </div> 
              <div class="col-md-4">
                <img src="/img/se3.png" alt="">

                <p> Divij Punjabi and Aadit Pareek showing their SE Project - A House Website.</p>
              </div> 
              <div class="col-md-4">
                <img src="/img/se4.png" alt="">

                <p> Ananya Sharma, Gitali Sinha and Tamanna Staney presenting their project - Ayurtatva.</p>
              </div> 
              <div class="col-md-4">
              <iframe src="https://drive.google.com/file/d/17sIzG9LFNjiPI2KNTMM1YCcW1qQw58XQ/preview" width="640" height="480" allow="autoplay"></iframe>
              <p> Project Kelele - Raghav Bhatia, Paridhi Bhatia, Misha Anand, Siddhant Barua and Yashashvi Deshwal.</p>
            </div>  
            <div class="col-md-4">
              <iframe src="https://drive.google.com/file/d/1uF54aOMiVIuNkfspDOlBOqPChQZljWnw/preview" width="640" height="480" allow="autoplay"></iframe>
              <p>Rishi Lal and Hunar Miglani - Team Mentis Auxilium </p>
            </div>  
            <div class="col-md-4">
              <iframe src="https://drive.google.com/file/d/1ox9PLqdFb8V8JpPmT3-nHKItGfBH2gvE/preview" width="640" height="480" allow="autoplay"></iframe>
              <p>Parvani Kardar and Ananyaa Kartik explaining their project. </p>
            </div>  
                   
            <div class="col-md-4">
              <iframe src="https://drive.google.com/file/d/1rHZYvFaPYQ_8hyVuRJvhusxlpap9R6TL/preview" width="640" height="480" allow="autoplay"></iframe>
              <p>Aryaman Dora Tepal, a member of Project Syndicate. </p> 
            </div>  
                   
            <div class="col-md-4">
              <iframe src="https://drive.google.com/file/d/1_efcodGQuTb3w49D77fCjE80gEgRDIeV/preview" width="640" height="480" allow="autoplay"></iframe>
              <p> Qarar Kaushal and Riya Reddy of Project Cypher Vision. </p>
            </div>  
                   
            <div class="col-md-4">
              <iframe src="https://drive.google.com/file/d/10x6tjW2qGc-5MZDQbUT4gNnwXojPZOD5/preview" width="640" height="480" allow="autoplay"></iframe>
              <p> Rudrani Mukherji, Vibha Nair, and Karthika Manoj explaining their Project Implementation. </p>
            </div>  
                   
          
                   
                 
            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
    </div>
</section>

<!-- <section id="testimonial" class="wow fadeInUp delay-05s">
    <div class="bg-testicolor" style="max-height: 2vh">
      <div class="container section-padding">
        <div class="row">
          <div class="testimonial-item">
            <ul class="">
              <li>
                <blockquote>
                  <p>The SE Module is a great platform to initiate ideas and enhance collaboration while stimulating our critical and analytical skills simultaneously. We are made to look at prevalent issues in today’s society and suggest possible remedial measures</p>
                </blockquote>
                <small>Anannya Vaidya, IB Bridge E</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
              <iframe style="display: block; margin: 20px auto" src="https://drive.google.com/file/d/11dNJeDebAZ1K5U_GEYN-KDBojlYTtm8_/preview" width="640" height="480"></iframe>
                <p class="sub-title pad-bt15">Although we were only guided to theorize our solutions to these social crises, we will make sure to scale our proposition up to project it in a manner that truly benefits society. </p>
                < <img src="img/se2.png" alt="" style="display: block; margin: 0 auto"> -->
            

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
      <!--   </div>
    </div>
    <div class="container">
      <div class="row" style="margin-bottom: 40px"> -->
        <!-- <div class="col-md-6">
          <img src="img/set1.png" style="max-width: 100%" alt="">
          <p>SE presentation of Team Libra</p>
        </div>
        <div class="col-md-6">
          <img src="img/set2.png" style="max-width: 100%" alt="">
        </div> -->
      <!--   <div class="col-md-10" style="width: 100%; display: block; margin: 0 auto;">
          <iframe  src="https://docs.google.com/presentation/d/e/2PACX-1vSHHISfTPo-eGJGPqpCP_UtGRnVtc1h7bbvC0lJMgLOqbnrvM5gzY-vlPgojfwMaw/embed?start=false&loop=true&delayms=3000" frameborder="0" width="1000" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
         <!--  <iframe style="width: 100%" src="https://docs.google.com/presentation/d/e/2PACX-1vSHHISfTPo-eGJGPqpCP_UtGRnVtc1h7bbvC0lJMgLOqbnrvM5gzY-vlPgojfwMaw/embed?start=true&loop=true&delayms=3000" frameborder="0" width="1000" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          <p>SE presentation of Team Libra</p>

        </div>
      </div>

      <div class="row"> --> 
        <!-- <div class="col-md-6">
          <img src="img/set3.png" style="max-width: 100%" alt="">
          <p>SE presentation of Team Encrypt</p>
        </div>
        <div class="col-md-6">
          <img src="img/set4.png" style="max-width: 100%" alt="">
        </div> -->
      <!--   <div class="col-md-10"  style="width: 100%; display: block; margin: 0 auto;">
          <iframe style="width: 100%" src="https://docs.google.com/presentation/d/e/2PACX-1vQ1ocUjYuAdVuKpkAWru9JmN39TQTxepPME2bRLuavbiXl1G-HwerFdzcFMY50Wfw/embed?start=true&loop=true&delayms=5000" frameborder="0" width="1000" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          <p>SE presentation of Team Encrypt</p>

        </div>
      </div> --> -->
      <h4>Written by Sachit Singh Juneja</h4>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>