<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/logo.png">
  <link rel="icon" type="image/png" href="/img/logo.png">
  <title>IB Newsletter | Edition 2</title>
  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
  <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- =======================================================
    Theme Name: Baker
    Theme URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

  <div class="loader"></div>
  <div id="myDiv">
    <!--HEADER-->
    <div class="header">
      <div class="bg-color">
        <header id="main-header">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="/home"><span style="color: black">Bridge</span> <span class="logo-dec">Fortnightly</span></a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active" style="font-weight: 500"><a href="/home" style="font-weight: 500;">Home</a></li>
                  <li class="active" style="font-weight: 500"><a href="/editorial" style="font-weight: 500;">Editorial</a></li>                  <!-- <li class=""><a href="#feature">About</a></li>
                  <li class=""><a href="#service">Services</a></li>
                  <li class=""><a href="#portfolio">Portfolio</a></li>
                  <li class=""><a href="#testimonial">Testimonial</a></li>
                  <li class=""><a href="#blog">Blog</a></li>
                  <li class=""><a href="#contact">Contact Us</a></li> -->
                </ul>
              </div>
            </div>
          </nav>
        </header>

<style>
    .header{
        background: none;
        background-size: cover;
        max-height: 100px;
        min-height:auto;
        position: relative;
        color: white
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>IB SIBLINGS</h1>
                <!-- <h4>One World, Many Cultures</h4> -->
                <hr class="bottom-line">
            </div>
        </div>
        <div class="row"  style="margin-bottom: 40px">
            <div class="col-md-4">                
                <img src="img/g2.png" style="max-width: 100%; max-height: 40vh" alt="">
                <p>Gurmeher Kathuria, IB Bridge C</p>
            </div>
            <div class="col-md-4">                
                <img src="img/g1.png" style="max-width: 100%; max-height: 40vh" alt="">
            </div>
            <div class="col-md-4">
                <p class="sub-title pad-bt15">Jasmeher Kathuria: <br>
                  Jasmeher graduated in 2019 from Modern and is pursuing Statistics in the University of British Columbia in Vancouver, Canada.
                  </p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 40px">
            <div class="col-md-4">                
                <img src="img/a1.png" style="max-width: 100%; max-height: 40vh" alt="">
                <p>Anwesha Parida, IB Bridge D</p>
            </div>            <div class="col-md-4">                
                <img src="img/a2.png" style="max-width: 100%; max-height: 40vh" alt="">
            </div>
            <div class="col-md-4">
              <p class="sub-title pad-bt15">
              Swayam Parida: <br>
              Swayam graduated in 2016 from Modern and is pursuing Computer Science in Stanford University in California.
              </p>  
            </div>
        </div>
 
        <div class="row"  style="margin-bottom: 40px">

            <div class="col-md-3">                
                <img src="img/v1.png" style="max-width: 100%; max-height: 40vh" alt="">
                <p>Viraj Dhakan, IB Bridge A</p>
            </div>            
            <div class="col-md-2">                
                <img src="img/v2.png" style="max-width: 100%; max-height: 40vh" alt="">
            </div>
            <div class="col-md-3">                
              <img src="img/v3.png" style="max-width: 100%; max-height: 40vh" alt="">
              <p>Mihir Dhakan, IB Bridge B</p>
          </div>
            <div class="col-md-4">
              <p class="sub-title pad-bt15">
              Khushi Dhakan: <br>
              Khushi graduated in 2020 from Modern and is pursuing Law in Middlesex University in Dubai.
            </p>

            </div>
        </div>
        <div class="row"  style="margin-bottom: 40px">

          <div class="col-md-4">                
              <img src="img/h2.jpg" style="max-width: 100%; max-height: 40vh" alt="">
              <p>Yohann D'souza, IB Bridge D</p>
          </div>            <div class="col-md-4">                
              <img src="img/h1.png" style="max-width: 100%; max-height: 40vh" alt="">
          </div>
          <div class="col-md-4">
            <p class="sub-title pad-bt15">
            Hayden Dsouza: <br>
            Hayden graduated in 2020 from Modern and is pursuing Computer Science in University of California, Los Angeles.
            </p>
          </div>
      </div>
      <div class="row"  style="margin-bottom: 40px">
        <div class="col-md-4">                
          <img src="img/t1.png" style="max-width: 100%; max-height: 40vh" alt="">
          <p>Tanay Cherian, IB Bridge A</p>
        </div>            
        <div class="col-md-4">                
          <img src="img/t2.png" style="max-width: 100%; max-height: 40vh" alt="">
        </div>
        <div class="col-md-4">
          <p class="sub-title pad-bt-15">
            Tanvi Cherian: <br>
            Tanvi graduated in 2020 from Modern and is pursuing Film Photography and Psychology in University of Leeds in Leeds, England.
          
          </p>
        </div>
      </div>
      <div class="row" style="margin-bottom: 40px">
        <div class="col-md-4">                
          <img src="img/an1.png" style="max-width: 100%; max-height: 40vh" alt="">
          <p>Anujay Surana, IB Bridge E</p>
        </div>            
        <div class="col-md-4">                
          <img src="img/an2.png" style="max-width: 100%; max-height: 40vh" alt="">
        </div>
        <div class="col-md-4">
          <p class="sub-title pad-bt15">
            Prajay Surana : <br> Prajay graduated in 2020 from Modern and is pursuing law with a concentration in business in Warwick University, UK
          </p>
        </div>
      </div>
      <div class="row"  style="margin-bottom: 40px">
        <div class="col-md-6">
          <p class="sub-title pad-bt15">
            Syed-Rima-Sana:  <br> Rima graduated in 2019 from Modern and is pursuing Biology in Purdue University in Indiana.
            <br>
            Sana will graduate in 2021 from Modern and will pursue Economics in Purdue University in Indiana.
          </p>
          </div>
    </div>
    <div class="row"  style="margin-bottom: 40px">
      <div class="col-md-6">
        <p class="sub-title pad-bt15">
          Daksh and Divij Popley:  <br>Divij graduated In 2020 and is studying Finance in Loughborough University, UK.
        </p>
        </div>
    </div>
  <div class="row"  style="margin-bottom: 40px">

    

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>