<%- include('partials/header') %>

    <style>
        .header {
            background: url('img/tte_thumbnail.png') no-repeat center center fixed;
            background-size: cover;
            min-height: 650px;
            position: relative;
        }
    </style>

    </div>
    </div>

    <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Talk to the Expert</h1>
                    <h4>Let's talk!</h4>
                    <hr class="bottom-line">
                </div>
                <div class="col-md-12">
                    <p class="sub-title pad-bt15"><i> “Wise people understand the
                        need to consult experts; only fools are confident they know everything” </i> 
                        </p>
                    <p class="sub-title pad-bt15">Our ‘Talk to the Expert’ session has been built on this foundation, rightly said by author, Ken Poirot. The immense energy and engagement involved between the experts and the students make these sessions very interesting and highly popular, too. </p>
                    <p class="sub-title pad-bt15">Last week our Vice Principal, John Gomes spoke to us on the 7 habits of highly effective people. This enriching and enlightening session was interactive, too. Mr. Gomes explained the 7 habits in detail and also spoke about Steven Covey’s Four Quadrants on time management. 
                        </p>
                    <iframe style="display: block; margin: 20px auto" src="https://drive.google.com/file/d/1nl93saTOEhMhaxJ-A0fUkbYbQxx0dqaA/preview" width="640" height="480"></iframe>
                    <p class="sub-title pad-bt15">
                        This week we were supposed to have a talk with Mr.Daniel Adkins, the CEO of Curtis University. Mr.Daniel, in his earlier address in 2019 had spoken to the 11th graders regarding ‘What universities look for in undergraduate students?’. He was supposed to give us his insight on ‘Future Jobs’, however, unfortunately a fire broke out during the lunch break on Monday and the session was cancelled. We hope to see you soon, Mr Daniel.
                            
                    </p>
    
                </div>
                <div class="col-md-8">
                    <p class="sub-title pad-bt15">Last Thursday we had a very interesting session on genetic engineering with Dr. Luca Comai, a professor of Plant Biology at University of California Davis. He works on induced mutations, polyploidy, dosage variation, centromere function and sex chromosomes. He has been involved in the study of CENH3 for nearly a decade and is currently optimizing genome elimination and developing its use for efficient plant breeding. He spoke to us on how he developed TILLING, which is a functional genomic method based on induced mutations. He made this a very captivating experience by talking and simultaneously drawing and showing us the similarities between a man, an animal and a plant.</p>
                    <p class="sub-title pad-bt15">The Q and A session that followed was  very interesting and informative. A lot of questions regarding genome research were asked. Dr. Luca also gave some very valuable advice to budding scientists and researchers. The session ended on a very fun-filled note with one student wanting to know if humans could ever gain super powers and his reply got us thinking hard.
                    </p>
                </div>
                <div class="col-md-4"> 
                    <img src="img/luca.png" style="width: 100%" alt="">
                    <p>Dr. Luca Comai</p>
                </div>

               
                <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
                <!-- </div> -->
            </div>
            <h4>Written by Veda Dinesh</h4>
        </div>
    </section>

    <!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



    <%- include('partials/footer') %>